apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.vote.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
      - name: vote
        image: "{{ .Values.vote.image.repository }}:{{ .Values.vote.image.tag }}"
        ports:
        - containerPort: 5000
        resources:
          {{- toYaml .Values.vote.resources | nindent 10 }}
